<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Intro</title>
</head>

<body>
    <h2>Hello this is home page {{name}}!</h2>

    <img src="/images/ironhack-logo-white.jpg" alt="ironhack logo">
    {{#each hobbies}}
    <li>
        {{this}}
    </li>
    {{/each}}
    <a href="/"> Go Back </a>
</body>

</html>